.main-content {
  font-size: 26px;
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 15px;
  .line {
    margin: 5px 0;
  }
  .img {
    max-width: 100%;
    height: auto;
  }
}

.replies {
  margin-bottom: 50px;
}

.reply {
  .main {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
  }
  .author {
    font-size: 24px;
  }
  .time {
    font-size: 18px;
    color: darkgray;
  }
  .content {
    font-size: 24px;
    margin: 10px;
    margin-left: 0;
  }
  .floor {
    color: darkgray;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
